$primary: hsl(215, 51%, 70%);
$secundary: hsl(178, 100%, 50%);
$BG-main: hsl(217, 54%, 11%);
$BG-card: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);
$font-family: "Outfit", sans-serif;

@mixin nft-info_layout() {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

@mixin hover-effect() {
  &:hover {
    color: $secundary;
    cursor: pointer;
  }
}
